form{
    width: 30%;
    margin: auto;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 4%;
    display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

label {
    font-weight: bold;
    color: #607D8B;
}

h1{
    text-align: center;
    color: #4E342E;
}


input[type='text'],input[type='number'],input[type='password'],input[type='email']{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
}

.button{
    margin-top: 15px;
    height: 33px;
    color: white;
    background-color: #42A5F5;
    font-weight: bold;
    border: none;
    font-size: 17px;
    border-radius: 7px;
    width: 100%;
}

.button:hover{
    cursor: pointer;
    background-color: #039BE5;

}





